.col-md-2
  %ul.list-group.inode-list
    %li.list-group-item= link_to 'home', current_user.inode

.col-md-10
  = breadcrumb(@inode)

  %table.table
    - @inode.inode_activities.each do |activity|
      %tr
        %td= activity.comment
        %td= activity.created_at
