
.container
  %h1 Welcome#index
  %p Find me in app/views/welcome/index.html.haml

  %table.table
    - I18n.available_locales.each do |locale|
      %tr
        %td= locale
        %td= I18n.t 'helpers.select.prompt', locale: locale
        %td= I18n.t 'devise.confirmations.confirmed', locale: locale
