.inode-table {
  table-layout: auto;

  td:first-child {
    width: 30px;
  }

  td:nth-child(3) {
    width: 100px;
  }

  td:nth-child(4) {
    width: 200px;
  }

  .vcenter {
    vertical-align: middle;
  }
}

.activities-table {
  table-layout: auto;
  td:nth-child(2) {
    width: 200px;
  }
}

.inode-logo {
  img {
    width: 40px;
  }
}

.inode-list {
  margin: 8px;
}

.inode-search-box {
  margin: 8px;
}

